@charset "UTF-8";
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    --font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ghana';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 마이페이지 사이드바때문에 추가해달라고한거 */
footer {

}

#content-6 {
    /* height: 45vh; */
    height: 270px;
    background-color: grey;
    font-family: 'MapoFlowerIsland';
    font-weight: 100;
    font-size: 10pt;
}
    #footer-up {
        height: 15%;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, 0.2);
    }
        #footer-up-list {
            width: 660px;
        }  
            #footer-up-list ul {
                display: flex;
            }
                #footer-up-list li {
                        float: left;
                        list-style-type: none;
                        font-weight: 900;

                        /* 이용약관, 개인정보취급방침 간격 */
                        padding-right: 15px;
                    }
                        #footer-up-list a {
                            color: #1C1C1B;
                            text-decoration: none;
                        }
            
    #footer-down {
        height: 85%;
        background-color: #34443E;
        box-shadow: inset 0px -10px 20px #141d1a;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff60;

    }
        #footer-text {
            height: 75%;
        }
        [id^=footer-text-line] {
            padding-block: 5px;
        }
            #footer-logo div:nth-child(1){
                font-family: 'MapoFlowerIsland';
                font-size: 30pt;
            }
            #footer-logo div:nth-child(2){
                width: 660px;
                height: 1px;
                background-color: #ffffff60;
                margin-block: 10px;
            }