@charset "UTF-8";
@font-face {
    font-family: '마포꽃섬';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    --font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ghana';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 헤더 시작! */
header {
    background-color: #28302d;
    position: fixed;
    top: 0;
    z-index: 10;
    
    width: 100vw;

    /* 헤더의 폰트 색상 및 크기 */
    color: white;
    font-size: 15pt;

    /* 헤더 아래 그림자 */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#logo-area {
    --background-color: gold;
    width: inherit;

    /* logo 있는 공간 높이 */
    height: 120px;

    /* 그림자로 navBar Area랑 분리하기 위함 */
    box-shadow:
            inset 0px -10px 10px rgba(0, 0, 0, 0.2);
            /* , inset 0px 10px 10px rgba(0, 0, 0, 0.2); */
}
header #logo-img {

    background-image: url(../img/common/logo_white.png);
    background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;

    /* 로고 크기 */
    width: 340px;
    height: 100%;

    --background-color: red;
    
    /* 로고 왼쪽 여백 */
    margin-left: 60px;
}




#navBar-area {
    --background-color: orange;
    
}

#navBar-area
, #navBar-area>div {

    /* nav바 좌우, 좌우 안의 글자들 가로정렬 위함 */
    display: flex;


}

#navBar-area>div>div {

    /* nav바 높이 50px중에 안에 글자들 상단에서 얼마나 띄울지 */
    padding-top: 10px;
    --background-color: red;
}


#nav-left {

    /* nav바 있는 공간 높이 */
    height: 50px;

    /* nav바 왼쪽 너비 */
    width: 30vw;

    /* Perfume, Community 왼쪽 여백 */
    padding-left: 100px;

    --background-color: gold;
}

/* Perfume이랑 Community 사이 간격 조절 위함*/
/* .nav-left-title:nth-child(1) {
    position: absolute;
}
.nav-left-title:nth-child(2) {
    position: relative;
    left: 200px;
} */

.nav-left-title {

    /* Perfume, Community 너비 고정 위함*/
    width: 100px;

    /* Perfume, Community  간격 */
    margin-right: 100px;

    --background-color: red;


}

.nav-left-detail>div {
    /* shop, recommend, review, qna */
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.nav-left-detail>div:nth-child(1) {
    /* 숨겨져있던 메뉴 shop, recommend 사이 간격 */
    margin-bottom: 15px;
}





#nav-right {

    /* nav바 오른쪽 너비 */
    width: 70vw;

    /* 우측 정렬 위함 */
    display: flex;
    justify-content: end;

    /* 오른쪽 여백 */
    padding-right: 100px;
    
    --background-color: green;
}

#nav-right>div {
    /* Cart wish logout login등등 아이콘 사이 간격 */
    margin-left: 50px;

    /* Cart wish 등등 커서 */
    cursor: pointer;
}
#nav-right>div>img {

    /* 카트 위시 등 아이콘들 */
    width: 15pt;
    opacity: 0.7;


    /* text랑 img 여백 달라서 수직 가운데 정렬 안맞아서 */
    /* 이미지만 다시 가운데로 정렬하기 위함 */
    position: relative;
    top: 5px;
}
#nav-right>div>.menu-info {

    /* 아이콘 hover시 나올 정보 */

    /* 위치 */
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;

    /* 네모칸 디자인 및 크기 */
    background-color: #222222;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-block: 1px;
    padding-inline: 3px;

    /* 폰트 */
    font-size: 8pt;
    font-weight: lighter;

    /* hover시 나오도록 일단 투명하게 */
    opacity: 0;

    
}

#nav-right>div:hover .menu-info {
    /* 아이콘 hover 시 정보 노출 */
    transition-duration: 0.2s;
    opacity: 1;
}

/* 알림알림알림여기부터 */
#alert-hover-area #alert {
    
    /* 알림창 위치 */
    position: absolute;
    margin-top: 40px;
    
    /* 알림창 크기 및 색상 */
    background-color: #ffffff;
    
    /* 알림창 border */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
    /* 알림창 그림자 */
    box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.3);
    
    /* 알림창 폰트 */
    color: black;
    font-size: 10pt;

    /* 알림창 크기 */
    width: 500px;
    height: calc(100vh - 230px);
    
    /* 알림창 숨김 */
    opacity: 0;
    margin-left: 150px;
    /* opacity: 1; */
    /* margin-left: -280px; */

    /* 알림창스크롤 */
    overflow-y:auto;
    
    transition-duration: 0.6s;
    
    cursor: default;
} 

/* #alert-hover-area:hover #alert {
    opacity: 1;
    margin-left: -280px;
} */

.alertOne {
    display: flex;
    cursor: pointer;

    height: 40px;
    background-color: gold;
    margin-block: 40px;
}
#alertCategoroyArea {
    width: 70px;
    font-weight: 900;
    margin-right: 10px;
    
    display: flex;
    justify-content: space-between;
}
#alertCnt {
    position: absolute;

    width: 15px;
    height: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: -30px;
    margin-left: 10px;

    font-size: 8pt;
    background-color: rgba(0, 0, 0, 0.5);

    padding: 2px;

    border-radius: 100%;
}
/* 알림알림알림끝 */



.nav-left-hidden {
    display: none;

}
.nav-left-bar {
    height: 1px;
    width: 0px;

    /* Perfume, Community 아래 바 색상 */
    background-color: rgba(255, 255, 255, 0.5);

    /* Perfume, Community 아래 바 위아래 여백 */
    margin-block: 20px;


}
#nav-left:hover .nav-left-hidden {
    transition-duration: 0.2s;
    display: block;
}
#nav-left:hover .nav-left-bar {
    transition-duration: 0.4s;
    width: 150px;
}
#nav-left:hover {
    transition-duration: 0.4s;
    height: 155px;
}
.nav-left-detail>div:hover {

    /* hop, recommend, review, qna */
    transition-duration: 0.5s;
    color: white;
}
#nav-right>div:hover img {
    /* Cart wish logout login등등  */
    transition-duration: 0.2s;
    opacity: 1;
}


/* 여기 아래부터 채팅 관련 CSS 절대 건들지 마시오! */


/* 헤더 - 버튼 시작 */
#chat-area #chat-btn {

    /* 채팅 버튼 위치 */
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;

    /* 커서 */
    cursor: pointer;

    /* 채팅 버튼 크기 */
    width: 60px;
    height: 60px;
    
    /* 채팅버튼 색상 및 그림자 */
    background-color: #222222;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);

    /* 채팅버튼 투명도 */
    --opacity: 0.8;

    /* 채팅 버튼 가운데 아이콘 가운데 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
}
#chat-area #chat-btn img {

    /* 채팅 버튼 아이콘 크기 */
    width: 70%;
}

#chat-area #chat-btn:hover {

    /* 채팅 버튼 hover 시 그림자 */
    transition-duration: 0.5s;
    box-shadow: 
        inset 3px 3px 5px rgba(0, 0, 0, 0.5)
        , 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}



#chat-area #chat-modal-bg {

    /* 모달창 배경 위치, 크기 및 블러*/
    position: fixed;
    top: 0;

	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(2px);

	display: none;
}
#chat-area #chat-modal {
    
    /* 모달창 위치 */
    position: fixed;
    bottom: 10px;
	right: 10px;
	z-index: 1;

    /* 모달창 크기 */
    height: 650px;
	width: 400px;

    /* 모달창 디자인 */
	border-radius: 35px;
	background-color: #F0F0F1;
    color: black;

	display: none;

}

#chat-area #chat-modal-close-btn {
    font-size: 30px;
    cursor: pointer;
    height: 7.5%;
    width: 100%;
    display: block;
    text-align: right;
    padding: 10px 15px 0 0;
    box-sizing: border-box;
}

#helloMsg {
	height: 92.5%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
	#helloMsg #pBox {
		height: 10%;
		width: 100%;
	}
	
	#helloMsg #pBox p:nth-of-type(2) {
		color: gray;
	}
	
	#helloMsg #pBox p {
		/* margin-bottom: 0; */
		text-align: center;
	}
	
	#helloMsg p:first-of-type {
		font-size: 1.2em;
		font-weight: bold;
	}
	
	#helloMsg p:last-of-type {
		font-size: 0.8em;
		color: black;
	}
	
	#helloMsg .chatting-area {
		height: 90%;
		width: 100%;
	}
	
	.chatting-area #exit-area {
		text-align: right;
		margin-bottom: 10px;
	}
	
	.chatting-area .display-chatting {
		width: 100%;
		height: 90%;
		overflow: auto;
		/*스크롤 처럼*/
		list-style: none;
		padding: 10px 10px;
		background: lightblue;
		z-index: 1;
		margin: 0;
		box-sizing: border-box;
	}
	
	.chatting-area .display-chatting b {
		font-size: 15px;
	}
	
	.chatting-area .chat {
		display: inline-block;
		border-radius: 5px;
		padding: 5px;
		background-color: #eee;
	}
	
	.myChat > p {
  		text-align: left;
	}
	
	 .chatting-area .input-area {
		height: 10%;
		width: 100%;
		display: flex;
		border-radius: 0px 0px 35px 35px;
	}

	.chatting-area #inputChatting {
		width: 90%;
		resize: none;
		border-radius: 0px 0px 0px 35px;
		border: none;
		outline: none;
		background-color: #F0F0F1;
		font-size: 15px;
		padding: 17px;
		box-sizing: border-box;
		font-family: '마포꽃섬';
	}
	
	.chatting-area li {
		margin-bottom: 5px;
	}
	
	.chatting-area #send {
		width: 10%;
		border-radius: 0px 0px 35px 0px;
		border: none;
		background-color: #F0F0F1;
	}
	
	#send img {
		height: 20px;
		width: 20px;
	}
	
	.chatting-area .myChat {
		text-align: right;
	}
	
	.chatting-area .myChat>p {
		background-color: gold;
	}
	
	.chatting-area .chatDate {
		font-size: 10px;
	}

/* 헤더 - 버튼 끝 */

/* 헤더 끝 */