@charset "UTF-8";
@font-face {
	font-family: '마포꽃섬';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff')
		format('woff'); 
	font-style: normal;
}

@font-face {
	font-family: 'ghana';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	font-family: '마포꽃섬';
}

main {
	width: 100vw;
	min-height: 100vh;
}

main>div:nth-child(1) {
	/* 헤더 공간 비워두기 위함 */ 
	--height: 190px;
	/* 
    헤더가 차지하는 170px보다 더 띄우고 싶은 만큼 
    margin-bottom값을 임의로 조절해서 쓰시면 됩니다.
    */ 
    --margin-bottom: 100px;
}

main [id*=section] {
	width: 100vw;
	height: 100vh;
}


/* section1 시작 */
main #section-1>#background-img {
	width: inherit;
	height: inherit;
	background-image: url(../img/common/forest.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/* 창 크기가 어떻든 이미지의 가운데를 보여주도록 */
	background-position: center center;
}

main #section-1>#background-img>#black {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	/* 이미지 안의 요소들 가운데 정렬 */
	display: flex;
	justify-content: center;
	align-items: center;
	/* mbti 글씨 관련 */
	color: rgba(0, 0, 0, 0.8);
	font-size: 80pt;
	font-family: 'ghana';
}

main #section-1>#background-img>#black>div {
	cursor: pointer;
}
/* section1 끝 */


/* section2 시작*/
main #section-2 {
    --background-color: red;

    /* 헤더 뺀 아래 section이 바닥에 위치하도록 = 헤더 아래 위치하도록 함 */
    display: flex;
    align-items: end;
}
main #section2-content {
    --background-color: blue;

    /* 헤더 공간 빼놓고 section크기 설정 */
    width: inherit;
    height: calc(100vh - 50px);
}

main .wave-img-area {
    
    /* 초록 물결 이미지 들어가는 공간 크기 */
    width: inherit;
    height: 15%;

    /* 물결 가운데 정렬 위함 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    --background-color: yellow;
}
main .wave-img-area>img {

    /* 초록 물결 크기 */
    width: 50vw;
}

main .wave-img-area>#insta-id {
    
    /* 인스타 계정 안내 @PERFUME_PALETTE */
    color: #222222;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);
    font-size: 11pt;
    font-weight: lighter;

    /* 물결은 가운데에 그대로 두고 그 아래에 위치하도록 하기 위함 */
    position: absolute;
    margin-top: 40px;

}

main #section2-img-area {

    /* section2 가운데 향 5개 이미지 크기 */
    width: inherit;
    height: 70%;

    /* 이미지들 정렬 */
    display: flex;
    justify-content: space-between;

    --background-color: violet;
}

main #section2-img-area .section2-img {
    /* 이미지들 5개 */
    width: calc((100vw - 60px)/5);
    height: 100%;

    /* 커서 */
    cursor: pointer;

}

main #section2-img-area .section2-img>div {

    /* hover시 나올 반투명 배경 */
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);



    /* 일단 투명도 0, hover시 1 */
    opacity: 0;




    /* 안에 임시 폰트 */
    color: white;
    font-size: 20pt;

    /* 폰트 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;

}

main #section2-img-area .section2-img:hover div {
    transition-duration: 0.3s;
    opacity: 1;
}


main #section2-img-area .section2-img:nth-child(1) {
    background-color: #343D44;
}
main #section2-img-area .section2-img:nth-child(2) {
    background-color: #383444;
}
main #section2-img-area .section2-img:nth-child(3) {
    background-color: #3E4434;
}
main #section2-img-area .section2-img:nth-child(4) {
    background-color: #443434;
}
main #section2-img-area .section2-img:nth-child(5) {
    background-color: #443F34;
}




/* section2 끝*/


