@charset "UTF-8";

@font-face {
	font-family: '마포꽃섬';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff')
		format('woff'); 
	font-style: normal;
}

@font-face {
	font-family: 'ghana';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	font-family: '마포꽃섬';
}

main {
	width: 100vw;
	min-height: 100vh;
}

main>div:nth-child(1) {
	/* 헤더 공간 비워두기 위함 */ 
	--height: 200px;
	/* 
    헤더가 차지하는 170px보다 더 띄우고 싶은 만큼 
    margin-bottom값을 임의로 조절해서 쓰시면 됩니다.
    */ 
    --margin-bottom: 100px;
}

/* 헤더 시작! */
header {
    --background-color: #34443E;
    position: fixed;
    top: 0;
    z-index: 10;
    
    width: 100vw;

    /* 헤더의 폰트 색상 및 크기 */
    color: white;
    font-size: 15pt;

    /* 헤더 아래 그림자 */
    --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#logo-area {
    --background-color: gold;
    width: inherit;

    /* logo 있는 공간 높이 */
    height: 150px;

    /* 그림자로 navBar Area랑 분리하기 위함 */
    --box-shadow:
            inset 0px -10px 10px rgba(0, 0, 0, 0.2)
            , inset 0px 10px 10px rgba(0, 0, 0, 0.2);
}
header #logo-img {

    background-image: url(../img/common/logo_white.png);
    background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;

    /* 로고 크기 */
    width: 340px;
    height: 100%;

    --background-color: red;
    
    /* 로고 왼쪽 여백 */
    margin-left: 60px;
}




#navBar-area {
    --background-color: orange;
    
}

#navBar-area
, #navBar-area>div {

    /* nav바 좌우, 좌우 안의 글자들 가로정렬 위함 */
    display: flex;


}

#navBar-area>div>div {

    /* nav바 높이 50px중에 안에 글자들 상단에서 얼마나 띄울지 */
    padding-top: 10px;
    --background-color: red;
}


#nav-left {

    /* nav바 있는 공간 높이 */
    height: 50px;

    /* nav바 왼쪽 너비 */
    width: 30vw;

    /* Perfume, Community 왼쪽 여백 */
    padding-left: 100px;

    --background-color: gold;
}

/* Perfume이랑 Community 사이 간격 조절 위함*/
/* .nav-left-title:nth-child(1) {
    position: absolute;
}
.nav-left-title:nth-child(2) {
    position: relative;
    left: 200px;
} */

.nav-left-title {

    /* Perfume, Community 너비 고정 위함*/
    width: 130px;

    /* Perfume, Community  간격 */
    margin-right: 100px;


}

.nav-left-detail>div {
    /* shop, recommend, review, qna */
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.nav-left-detail>div:nth-child(1) {
    /* 숨겨져있던 메뉴 shop, recommend 사이 간격 */
    margin-bottom: 15px;
}





#nav-right {

    /* nav바 오른쪽 너비 */
    width: 70vw;

    /* 우측 정렬 위함 */
    display: flex;
    justify-content: end;

    /* MyPage 오른쪽 여백 */
    padding-right: 100px;
    
    --background-color: green;
}

#nav-right>div {
    /* Cart wish logout login등등 사이 간격 */
    margin-left: 50px;

    /* Cart wish 등등 커서 */
    cursor: pointer;
}
#nav-right>div>img {

    /* 카트 위시 등 아이콘들 */
    width: 15pt;
    opacity: 0.7;


    /* text랑 img 여백 달라서 수직 가운데 정렬 안맞아서 */
    /* 이미지만 다시 가운데로 정렬하기 위함 */
    position: relative;
    top: 5px;
}

#alert-hover-area {
    --background-color: red;
}
#alert-hover-area #alert {

    /* 알림창 위치 */
    position: absolute;
    right: 90px;
    top: 200px;

    /* 알림창 크기 및 색상 */
    width: 240px;
    background-color: rgba(255, 255, 255, 0.5);

    /* 알림창 border */
    border-radius: 20px;

    /* 알림창 폰트 크기 */
    font-size: 20pt;

    /* 알림창 숨김 */
    height: 0px;
    opacity: 0;

    /* 알림창스크롤 */
    /* overflow-y: scroll; */
}
#alert-hover-area:hover #alert{
    transition-duration: 0.4s;
    height: 260px;
    opacity: 1;
}



.nav-left-hidden {
    --display: none;
    opacity: 0;
}
.nav-left-bar {
    height: 1px;
    width: 0px;

    /* Perfume, Community 아래 바 색상 */
    background-color: rgba(255, 255, 255, 0.5);

    /* Perfume, Community 아래 바 위아래 여백 */
    margin-block: 20px;


}
#nav-left:hover .nav-left-hidden {
    transition-duration: 0.2s;
    --display: block;
    opacity: 1;
}
#nav-left:hover .nav-left-bar {
    transition-duration: 0.4s;
    width: 150px;
}
#nav-left:hover {
    transition-duration: 0.4s;
    height: 155px;
}
.nav-left-detail>div:hover {

    /* hop, recommend, review, qna */
    transition-duration: 0.5s;
    color: white;
}


/* 헤더 끝 */



main [id*=section] {
	width: 100vw;
	height: 100vh;
}

main #section-2 {
	--background-color: #00ffa2;
}

main #section-1>#background-img {
	width: inherit;
	height: inherit;
	background-image: url(../img/common/forest.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/* 창 크기가 어떻든 이미지의 가운데를 보여주도록 */
	background-position: center center;
}

main #section-1>#background-img>#black {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	/* 이미지 안의 요소들 가운데 정렬 */
	display: flex;
	justify-content: center;
	align-items: center;
	/* mbti 글씨 관련 */
	color: rgba(0, 0, 0, 0.8);
	font-size: 80pt;
	font-family: 'ghana';
}

main #section-1>#background-img>#black>div {
	cursor: pointer;
}


