@charset "UTF-8";
@font-face {
    font-family: '마포꽃섬';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    --font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ghana';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: '마포꽃섬';
}
body {
    overflow-x: hidden;
}
main {
    width: 100vw;
    min-height: 100vh;
}
main>div[id=forHeader] {

    /* 헤더 공간 비워두기 위함  */
    height: 190px;

    /* 
        헤더와 본인이 만든 본문 내용 사이의 간격 (헤더 아래로 여백) :
        margin-bottom값을 임의로 조절해서 쓰시면 됩니다.
    */
    margin-bottom: 63px;

}
main>div[id=forCenter] {

    /* 본문 내용 가운데 정렬 위함 */
    display: flex;
    flex-direction: column;
    align-items: center;

}













main #subject {

    /* background-color: red; */
    width: 900px;
    margin-left: 20px;

    color: #222;
    font-size: 30pt;
    font-weight: bold;
    /* text-align: center; */
    /* margin-bottom: 25px; */
    font-style: italic;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main #back-btn-area {
    width: 900px;
    height: 50px;
    /* background-color: red; */
    display: flex;
    justify-content: end;
}

main #back-btn {

    cursor: pointer;
    font-size: 12pt;
    font-style: normal;
    font-weight: lighter;

    width: 100px;
    height: 40px;
    border-radius: 5px;
    
    background-color: #222;
    color: white;

    display: none;
    align-items: center;
    justify-content: center;

}


/* 폼태그 */
main #mbtiTest {
    width: 900px;
    margin-bottom: 200px;
    /* background-color: red; */
}





main img {

    width: 430px;
    height: 430px;
    object-fit: cover;

    /* border-radius: 30px; */

    cursor: pointer;
    margin-bottom: 10px;

}


/* 모든 질문은 안 보이도록 처리함 */
main .question {
    display: none;
}
main input,
main button {
    display: none;
}

/* 질문 중에 class="current" 속성이 있는 질문만 보이도록 함 */
main .question.current {
    display: block;
}

main .question>p {
    font-size: 15pt;
    margin-bottom: 10px;
}
main .question>p>span {
    font-size: 30pt;
    font-weight: bolder;
    /* font-family: 'ghana'; */
    font-style: italic;
}

main .question>div {
    /* background-color: red; */
    width: 100%;
    height: 800px;

    display: flex;
    justify-content: space-between;
}

main label {
    display: flex;
    flex-direction: column;
    float: left;

    font-size: 15pt;
}

main label>div {

    width: 430px;
    height: 200px;

    /* background-color: red; */
    border: 1px dashed #222;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}


