@charset "UTF-8";
@font-face {
    font-family: '마포꽃섬';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    --font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ghana';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
   font-family: '마포꽃섬';
}
body {
    overflow-x: hidden;
}
main {
    width: 100vw;
    min-height: 100vh;
    margin-bottom: 100px;
}
main>div[id=forHeader] {

    /* 헤더 공간 비워두기 위함  */
    height: 190px;

    /* 
        헤더와 본인이 만든 본문 내용 사이의 간격 (헤더 아래로 여백) :
        margin-bottom값을 임의로 조절해서 쓰시면 됩니다.
    */
    margin-bottom: 100px;

}
main>div[id=forCenter] {

   /* 본문 내용 가운데 정렬 위함 */
   display: flex;
   flex-direction: column;
   align-items: center;
}

main #outter{
	/* background-color: #008080; */
	/* padding-top: 15vh; */
	/* height: 85vh; */
	width: 60vw;
	margin: 0 auto;
}

main #subject {
	text-align: center; 
	font-size : 50px;
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 50px;
}

main .date{
	/* float: right; */
	margin-bottom: 30px;
}

main .productInfo{
	display: flex;
	margin: 10px 0 30px 0;
	align-items: center;
}
main .product{
	width: 25%;
	display: flex;
	align-items: center;
}
main .product label{
	font-size: 15px;
	font-weight: bold;
}

main .user-name{
	width: 60%;
	font-size: 20px;
	font-weight: bold;
	
}

main .product-info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
main .productImg{
	width: 200px;
	height: 200px;
	border-radius: 10px;
	/* background-color: #c0c0c0; */
}
	main img{
		width: 170px;
		height: 170px;
	}

main .productDetails{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 35px 0 35px 25px;
}
	/*별점*/
    .fa-star {
        color: #FFD700; /* 선택된 별의 색깔을 #FFD700으로 설정 */
    }

    .fa-star-o:before {
        content: "\f006"; /* 별의 테두리가 검정색일 때의 아이콘 설정 */
        color: black; /* 별의 테두리가 검정색일 때의 아이콘 색상 설정 */
    }
    
	.productTitle {
		font-size: 18px;
		font-weight: bold;
	}
	
	.productPrice {
		font-size: 15px;
	}

main #productImgInfo {
	width: inherit;
	height: 200px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

main #productImgInfo img {
	width: 200px;
	height: 200px;
}

main #reviewContents{
	padding: 20px;
	border-top: 2px solid #28302d;
	border-bottom: 2px solid #28302d;
	/* border: 3px solid #28302d; */
	/* height: 350px; */
	margin-top: 15px;
	overflow: scroll;
}

	 #reviewContents::-webkit-scrollbar {
	  width: 8px;  /* 스크롤바의 너비 */
	}
	
	#reviewContents::-webkit-scrollbar-thumb {
	  background-color: #28302d; /* 스크롤바 썸네일의 배경 색상 */
	  border-radius: 8px; /* 스크롤바 썸네일의 모서리 반경 */
	}
	
	#writeContent::-webkit-scrollbar-track {
	  background-color: #f1f1f1; /* 스크롤바 트랙의 배경 색상 */
	  border-radius: 8px; /* 스크롤바 트랙의 모서리 반경 */
	}

main .input-btn {
	display: flex;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

main input[type=button], input[type=submit]{
    width: 100px;
    height: 50px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-right: 50px;
    margin-left: 50px;
    cursor: pointer;
}

/* 모달 창 띄우기 디자인 */
#modal-bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(2px);
	display: none;
}

main #modal {
	height: 400px;
	width: 650px;
	border-radius: 25px;
	position: fixed;
	/* z-index: 1; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	background-color: white;
	display: none;
	text-align: center;
}

/* 좋아요 디자인 */
main #like {
	display: flex;
	align-items: center;
}

main #like span{
	font-size: 18px;
	font-weight: bold;
}
main .productInfo #like img {
	width: 35px;
	height: 35px;
	cursor: pointer;
	margin-right: 5px;
}


/* 신고하기 버튼 */
main #report button {
  background-color: white;
  border: none;
  /* color: black; */
  padding: 3px 6px;
  margin-left: 10px;
  /* text-align: center; */
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

/* 신고하기 디자인(모달창) */
main #reportReason {
  margin-top: 20px;
}

main #reportReason label {
  display: inline-block;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
}

main #reportReason select {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

main #reportperfume {
  margin: 5px;
}

main #reportperfume label {
  display: inline-block;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
}

main #reportperfume span {
  font-size: 16px;
}

main #reportWrite {
 margin: 5px;
}

main #reportWrite label {
  display: inline-block;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
}

main #reportWrite span {
  font-size: 16px;
}

main #reportContents {
  margin: 5px;
}

main #reportContents textarea {
  width: 500px;
  height: 160px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

main #btn-box button{
	width: 100px;
    height: 50px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-right: 50px;
    margin-left: 50px;
    cursor: pointer;
}

/* 댓글 영역 */
main .replyHeader label{
	font-size: 15px;
	font-weight: bold;
}
main .replyTable {
	margin-top: 10px;
	border: 1px solid #ddd;
	padding: 10px;
}

.replyForm {
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.replyForm .replyWriter {
	font-size: 16px;
	font-weight: bold;
}

.replyForm .replyContents {
	flex: 1;
	margin: 0 10px;
	width: 100%;
}


.replyForm .replyContents input[type="text"] {
	width: 95%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #28302d;
	font-size: 15px;
}


.replyForm .replySubmit button {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #28302d;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

.reviewHidden{
	display: none;
}

main .replyDate ,.replyCom ,.modify ,.delete{
	margin-left: 5px;
	cursor: pointer;
}
#replycommentWrite{
	display: none;
}