<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartMapper">
	<resultMap type="Cart" id="cartResultMap">
		<id property="cartNo" column="CART_NO"></id>
		<result property="cartQuantity" column="CART_QUANTITY" />
		<result property="cartDate" column="CART_DATE" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="perfumeNo" column="PERFUME_NO" />
		<result property="perfumeName" column="PERFUME_NAME" />
		<result property="perfumeBrand" column="PERFUME_BRAND" />
		<result property="perfumeVolume" column="PERFUME_VOLUME" />
		<result property="perfumePrice" column="PERFUME_PRICE" />
		<result property="perfumeQuantity" column="PERFUME_QUANTITY" />
		<result property="pScentCategory" column="P_SCENT_CATEGORY" />
		<result property="pImageCategory" column="P_IMAGE_CATEGORY" />
		<result property="pFilename" column="P_FILENAME" />
		<result property="pFilerename" column="P_FILERENAME" />
		<result property="pFilepath" column="P_FILEPATH" />
		<result property="perfumeDate" column="PERFUME_DATE" />
		<result property="perfumeStatus" column="PERFUME_STATUS" />
	</resultMap>

	<insert id="addCart">
		INSERT INTO CART_TBL
		VALUES(SEQ_CARTNO.NEXTVAL,
		#{cartQuantity}, DEFAULT ,#{memberId}, #{perfumeNo})
	</insert>
	
	<delete id="removeCart">
		DELETE FROM CART_TBL WHERE CART_NO = #{cartNo}
	</delete>
	
	<update id="updateCart">
		UPDATE CART_TBL SET CART_QUANTITY = #{cartQuantity} WHERE CART_NO = #{cartNo} 
	</update>
	
	<select id="selectCartList" resultMap="cartResultMap">
		SELECT P.*,
		C.CART_NO,
		C.CART_QUANTITY, C.CART_DATE
		FROM PERFUME_TBL P
		LEFT
		OUTER JOIN CART_TBL
		C ON P.PERFUME_NO = C.PERFUME_NO
		WHERE C.MEMBER_ID
		= #{memberId}
		AND P.PERFUME_STATUS = '1'
		ORDER BY
		C.CART_DATE DESC
	</select>
	
	<select id="getCartNo" resultType="_int">
		SELECT *
		FROM (
		    SELECT  CART_NO
		    FROM    CART_TBL
		    WHERE   PERFUME_NO = #{perfumeNo }
		        AND CART_QUANTITY = #{cartQuantity }
		        AND MEMBER_ID = #{memberId }
		    ORDER BY CART_DATE DESC
		)
		WHERE ROWNUM = 1
	</select>

</mapper>