<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PerfumeMapper">
	<resultMap type="Perfume" 				id="perfumeResultMap">
		<id 	property="perfumeNo" 		column="PERFUME_NO" />
		<result property="perfumeName" 		column="PERFUME_NAME" />
		<result property="perfumeBrand" 	column="PERFUME_BRAND" />
		<result property="perfumeVolume" 	column="PERFUME_VOLUME" />
		<result property="perfumePrice" 	column="PERFUME_PRICE" />
		<result property="perfumeQuantity" 	column="PERFUME_QUANTITY" />
		<result property="pScentCategory" 	column="P_SCENT_CATEGORY" />
		<result property="pImageCategory" 	column="P_IMAGE_CATEGORY" />
		<result property="pFilename" 		column="P_FILENAME" />
		<result property="pFilerename" 		column="P_FILERENAME" />
		<result property="pFilepath" 		column="P_FILEPATH" />
		<result property="perfumeDate" 		column="PERFUME_DATE" />
		<result property="perfumeStatus" 	column="PERFUME_STATUS" />
		
		
		<result property="reviewCnt" 	column="REVIEW_CNT" />
		<result property="orderCnt" 	column="ORDER_CNT" />
	</resultMap>
	
	<resultMap type="ShopAlert" 			id="alertResultMap">
		<id 	property="alertNo" 			column="ALERT_NO" />
		<result property="alertCategory" 	column="ALERT_CATEGORY" />
		<result property="memberNo" 		column="MEMBER_NO" />
		<result property="perfumeNo" 		column="PERFUME_NO" />
		<result property="reviewNo" 		column="REVIEW_NO" />
		<result property="pCommentNo" 		column="P_COMMENT_NO" />
		<result property="aRequestDate" 	column="A_REQUEST_DATE" />
		<result property="alertDate" 		column="ALERT_DATE" />
		<result property="aClickStatus" 	column="A_CLICK_STATUS" />
		
		
		<result property="perfumeName" 			column="PERFUME_NAME" />
		<result property="perfumeBrand" 		column="PERFUME_BRAND" />
		<result property="reviewContents" 		column="REVIEW_CONTENTS" />
		<result property="likeMemberNickname" 	column="LIKE_MEMBER_NICKNAME" />
		<result property="pCommentContent" 		column="P_COMMENT_CONTENT" />
	</resultMap>
	
	<resultMap type="Review" id="reviewResultMap">
	
		<id 	property="reviewNo" 		column="REVIEW_NO"/>
		<result property="perfumeNo" 		column="PERFUME_NO"/>
		<result property="memberNo" 		column="MEMBER_NO"/>
		
		<result property="reviewContents" 	column="REVIEW_CONTENTS" jdbcType="CLOB" javaType="java.lang.String" />
		<result property="reviewDate" 		column="REVIEW_DATE"/>
		<result property="rViewcount" 		column="R_VIEW_COUNT"/>
		<result property="rViewscore" 		column="REVIEW_SCORE"/>
		
		<result property="memberNickname" 	column="MEMBER_NICKNAME"/>

	</resultMap>


	<!-- 향수 목록 조회 / 페이징 + 필터링 + STATUS1 -->
	<select id="selectAvailablePerfumes" resultMap="perfumeResultMap">
		SELECT p.* 
			, COUNT(r.REVIEW_NO) 	AS REVIEW_CNT
			, COUNT(o.ORDER_NO) 	AS ORDER_CNT
		FROM PERFUME_TBL p
			LEFT JOIN REVIEW_TBL r ON p.PERFUME_NO = r.PERFUME_NO
			LEFT JOIN ORDER_DETAIL_TBL o ON p.PERFUME_NO = o.PERFUME_NO
		WHERE p.PERFUME_STATUS = 1
		AND p.PERFUME_PRICE &gt;= #{startPerfumePrice }
		<if test="endPerfumePrice != 600000">
			AND p.PERFUME_PRICE &lt;= #{endPerfumePrice }
		</if>
		<if test="pScentCategory != null and pScentCategory != ''">
			<if test="pScentCategory !=  'All'">
			      AND p.P_SCENT_CATEGORY = #{pScentCategory }
	    	</if>
		</if>
		<if test="perfumeSearch != null and perfumeSearch != ''">		
			AND REGEXP_REPLACE(
						CONCAT(p.PERFUME_BRAND, p.PERFUME_NAME)
						, '[[:space:]]'
						, '')
				LIKE '%' || REGEXP_REPLACE(#{perfumeSearch}, '[[:space:]]', '') || '%'
		</if>
		GROUP BY p.PERFUME_NO
			    , p.PERFUME_NAME
			    , p.PERFUME_BRAND
			    , p.PERFUME_VOLUME
			    , p.PERFUME_PRICE
			    , p.PERFUME_QUANTITY
			    , p.P_SCENT_CATEGORY
			    , p.P_IMAGE_CATEGORY
			    , p.P_FILENAME
			    , p.P_FILERENAME
			    , p.P_FILEPATH
			    , p.PERFUME_DATE
			    , p.PERFUME_STATUS
		<if test="perfumeSort != null and perfumeSort !=''">
			<if test="perfumeSort eq 'new'">
				ORDER BY p.PERFUME_DATE DESC
			</if>
			<if test="perfumeSort eq 'hot'">
				ORDER BY ORDER_CNT DESC
			</if>
			<if test="perfumeSort eq 'review'">
				ORDER BY REVIEW_CNT DESC
			</if>
			<if test="perfumeSort eq 'highPrice'">
				ORDER BY p.PERFUME_PRICE DESC
			</if>
			<if test="perfumeSort eq 'lowPrice'">
				ORDER BY p.PERFUME_PRICE ASC
			</if>
		</if>
	</select>
	
	<!-- 목록 - 향수 총 개수 / 페이징 + 필터링 + STATUS1 -->
	<select id="selectTotalPerfumeCount" resultType="_int">
		SELECT COUNT(*) 
		FROM PERFUME_TBL
		WHERE PERFUME_STATUS = 1
		AND PERFUME_PRICE &gt;= #{startPerfumePrice }
		<if test="endPerfumePrice != 600000">
			AND PERFUME_PRICE &lt;= #{endPerfumePrice }
		</if>
		<if test="pScentCategory != null and pScentCategory != ''">
			<if test="pScentCategory !=  'All'">
			      AND P_SCENT_CATEGORY = #{pScentCategory }
	    	</if>
		</if>
		<if test="perfumeSearch != null and perfumeSearch != ''">		
			AND REGEXP_REPLACE(
						CONCAT(PERFUME_BRAND, PERFUME_NAME)
						, '[[:space:]]'
						, '')
				LIKE '%' || REGEXP_REPLACE(#{perfumeSearch}, '[[:space:]]', '') || '%'
		</if>
	</select>
	
	
	<!-- 향수 디테일 조회 by perfumeNo -->
	<select id="selectOneByPerfumeNo" resultMap="perfumeResultMap">
		SELECT * 
		FROM PERFUME_TBL 
		WHERE PERFUME_NO = #{perfumeNo }
	</select>
	
	<!-- 디테일 - 해당 향수에 달린 리뷰 수 by perfumeNo -->
	<select id="reviewCnt" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW_TBL
		WHERE PERFUME_NO = #{perfumeNo }
	</select>
	
	<!-- 디테일 - 해당 향수에 달린 리뷰 List by perfumeNo -->
	<select id="reviewListByPerfumeNo" resultMap="reviewResultMap">
		SELECT r.*
		    , m.MEMBER_NICKNAME
		FROM REVIEW_TBL r
		    JOIN MEMBER_TBL m ON r.MEMBER_NO = m.MEMBER_NO
		WHERE PERFUME_NO = #{perfumeNo }
	</select>
	
	
	<!-- 목록 - 로그인한 회원의 찜 여부 조회 by memberId, perfumeNo -->
	<select id="checkWish" resultType="_int">
		SELECT COUNT(*)
		FROM WISH_TBL
		WHERE MEMBER_ID = #{memberId } AND PERFUME_NO = #{perfumeNo }
	</select>
	
	<!-- 목록 - 해당 향수 찜 개수 조회 by perfumeNo -->
	<select id="wishCnt" resultType="_int">
		SELECT COUNT(*)
		FROM WISH_TBL
		WHERE PERFUME_NO = #{perfumeNo }
	</select>
	
	<!-- 목록 - 찜 취소를 위한 찜 번호 조회 by memberId, perfumeNo -->
	<select id="getWishNo" resultType="_int">
		SELECT WISH_NO
		FROM WISH_TBL
		WHERE MEMBER_ID = #{memberId } AND PERFUME_NO = #{perfumeNo }
	</select>
	
	
	<!-- 디테일 - 로그인한 회원의 장바구니 여부 조회 by memberId, perfumeNo -->
	<select id="checkCart" resultType="_int">
		SELECT COUNT(*)
		FROM CART_TBL
		WHERE MEMBER_ID = #{memberId } AND PERFUME_NO = #{perfumeNo }
	</select>
	
	
	<!-- 디테일 - 재입고 알림 신청 by memberNo, perfumeNo -->
	<insert id="insertRestockAlert">
		INSERT INTO ALERT_TBL VALUES (
		    SEQ_ALERT_NO.NEXTVAL
		    , '재입고'
		    , #{memberNo }
		    , #{perfumeNo }
		    , NULL
		    , NULL
		    , DEFAULT
		    , NULL
		    , DEFAULT
		)
	</insert>
	
	<!-- 디테일 - 로그인한 회원의 재입고알림 신청 여부 조회 by memberNo, perfumeNo -->
	<select id="checkAlert" resultType="_int">
		SELECT COUNT(*)
		FROM ALERT_TBL
		WHERE MEMBER_NO = #{memberNo }
				AND ALERT_CATEGORY = '재입고'
				AND PERFUME_NO = #{perfumeNo }
				AND ALERT_DATE IS NULL
	</select>
	
	
	<!-- 주문서 - 구매 성공 시 재고 감소 by cartNo -->
	<update id="minusStock">
		UPDATE PERFUME_TBL
		SET PERFUME_QUANTITY = PERFUME_QUANTITY - 
		  (SELECT CART_QUANTITY 
		   FROM CART_TBL 
		   WHERE CART_NO = #{cartNo }) 
		WHERE PERFUME_NO = 
		  (SELECT PERFUME_NO 
		   FROM CART_TBL 
		   WHERE CART_NO = #{cartNo })
	</update>
	
	
	<!-- 헤더 알림창 - 안 읽은 알림 개수 by memberNo -->
	<select id="selectUnclickAlertCnt" resultType="_int">
		SELECT COUNT(*)
		FROM ALERT_TBL
		WHERE MEMBER_NO = #{memberNo }
			AND A_CLICK_STATUS = 0
			AND ALERT_DATE IS NOT NULL				
	</select>
	
	<!-- 헤더 알림창 - 안 읽은 알림 목록 by memberNo -->
	<select id="selectUnclickAlert" resultMap="alertResultMap">
		SELECT a.*
		    , p.PERFUME_BRAND, p.PERFUME_NAME
		    , r.REVIEW_CONTENTS
		    , m.MEMBER_NICKNAME AS LIKE_MEMBER_NICKNAME
		    , c.COMMENT_CONTENT AS P_COMMENT_CONTENT
		FROM ALERT_TBL a
		    LEFT OUTER JOIN PERFUME_TBL p ON a.PERFUME_NO = p.PERFUME_NO AND a.ALERT_CATEGORY = '재입고'
		    LEFT OUTER JOIN REVIEW_TBL r ON a.REVIEW_NO = r.REVIEW_NO AND (a.ALERT_CATEGORY = '좋아요' OR a.ALERT_CATEGORY = '댓글')
		    LEFT OUTER JOIN MEMBER_TBL m ON a.PERFUME_NO = m.MEMBER_NO AND a.ALERT_CATEGORY = '좋아요'
		    LEFT OUTER JOIN COMMENT_TBL c ON a.P_COMMENT_NO = c.COMMENT_NO AND a.ALERT_CATEGORY = '답댓글'
		WHERE a.A_CLICK_STATUS = 0
			AND a.ALERT_DATE IS NOT NULL
		    AND a.MEMBER_NO = #{memberNo }
		ORDER BY ALERT_DATE DESC
	</select>
	
	<!-- 헤더 알림창 - 알림 클릭 시 읽음 처리 by alertNo -->
	<update id="clickAlert">
		UPDATE ALERT_TBL
		SET A_CLICK_STATUS = 1
		WHERE ALERT_NO = #{alertNo }
	</update>
	
	<select id="getPerfumeByMbti" resultMap="perfumeResultMap">
		SELECT p.*
		FROM MBTI_TBL m
		    JOIN PERFUME_TBL p ON m.PERFUME_NO = p.PERFUME_NO
		WHERE MBTI = #{mbtiResult }
	</select>
	

</mapper>