<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PerfumeMapper">
	<resultMap type="Perfume" id="perfumeResultMap">
		<id property="perfumeNo" column="PERFUME_NO"></id>
		<result property="perfumeName" column="PERFUME_NAME" />
		<result property="perfumeBrand" column="PERFUME_BRAND" />
		<result property="perfumeVolume" column="PERFUME_VOLUME" />
		<result property="perfumePrice" column="PERFUME_PRICE" />
		<result property="perfumeQuantity" column="PERFUME_QUANTITY" />
		<result property="pScentCategory" column="P_SCENT_CATEGORY" />
		<result property="pImageCategory" column="P_IMAGE_CATEGORY" />
		<result property="pFilename" column="P_FILENAME" />
		<result property="pFilerename" column="P_FILERENAME" />
		<result property="pFilepath" column="P_FILEPATH" />
		<result property="perfumeDate" column="PERFUME_DATE" />
		<result property="perfumeStatus" column="PERFUME_STATUS" />
	</resultMap>
	
	<!-- 유정 시작 -->
	<select id="selectAvailablePerfumes" resultMap="perfumeResultMap">
		SELECT * FROM PERFUME_TBL WHERE PERFUME_STATUS = 1
		<if test="scentCategory != null and scentCategory != ''">
			 AND P_SCENT_CATEGORY = #{scentCategory}
		</if>
	</select>
	<!-- 유정 끝 -->
	
	<!-- 기진 시작 -->
	<insert id="insertPerfume">
		INSERT INTO PERFUME_TBL
		VALUES(SEQ_PERFUME_NO.NEXTVAL, #{perfumeName}, #{perfumeBrand}, #{perfumeVolume}, #{perfumePrice}
		, #{perfumeQuantity}, #{pScentCategory}, #{pImageCategory}, #{pFilename}, #{pFilerename}, #{pFilepath}
		, DEFAULT, #{perfumeStatus})
	</insert>
	
	<update id="updatePerfume">
		UPDATE PERFUME_TBL SET PERFUME_NAME = #{perfumeName}, PERFUME_BRAND = #{perfumeBrand}
		, PERFUME_VOLUME = #{perfumeVolume}, PERFUME_PRICE = #{perfumePrice}, PERFUME_QUANTITY = #{perfumeQuantity}
		, P_SCENT_CATEGORY = #{pScentCategory}, P_IMAGE_CATEGORY = #{pImageCategory}, P_FILENAME = #{pFilename}
		, P_FILERENAME = #{pFilerename}, P_FILEPATH = #{pFilepath}, PERFUME_STATUS = #{perfumeStatus}
		WHERE PERFUME_NO = #{perfumeNo}
	</update>
	
	<delete id="deletePerfume">
		DELETE FROM PERFUME_TBL WHERE PERFUME_NO = #{perfumeNo}
	</delete>
	
	<select id="selectOneByNo" resultMap="perfumeResultMap">
		SELECT * FROM PERFUME_TBL WHERE PERFUME_NO = #{perfumeNo}
	</select>
	
	<select id="selectPerfumeList" resultMap="perfumeResultMap">
		SELECT * FROM PERFUME_TBL ORDER BY PERFUME_NO DESC
	</select>
	
	<!-- 기진 끝 -->
	
	
	

</mapper>