<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaBoardMapper">
	<resultMap type="QnaBoard" id="qnaBoardResultMap">
		<id property="qnaNo" column="QNA_NO"></id>
		<result property="perfumeNo" column="PERFUME_NO" />
		<result property="qnaType" column="QNA_TYPE" />
		<result property="qnaSubject" column="QNA_SUBJECT" />
		<result property="qnaContents" column="QNA_CONTENTS"
			jdbcType="CLOB" javaType="java.lang.String" />
		<result property="qnaDate" column="QNA_DATE" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="qFilename" column="Q_FILENAME" />
		<result property="qFilerename" column="Q_FILERENAME" />
		<result property="qFilepath" column="Q_FILEPATH" />
		<result property="qnaPassword" column="QNA_PASSWORD" />
		<result property="qQnaNo" column="Q_QNA_NO" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="replyStatus" column="REPLY_STATUS" />
		<result property="replyContents" column="REPLY_CONTENTS" />
		<result property="repDate" column="REP_CREATE_DATE" />
	</resultMap>

	<resultMap type="QnaReply" id="replyResultMap">
		<id property="replyNo" column="REPLY_NO" />
		<result property="repQnaNo" column="REP_QNA_NO" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="replyContents" column="REPLY_CONTENTS" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="replyStatus" column="REPLY_STATUS" />
		<result property="repDate" column="REP_CREATE_DATE" />
	</resultMap>

	<!-- 문의 게시판 글쓰기 -->
	<!-- <insert id="writeQnaBoard"> INSERT INTO QNA_TBL VALUES(SEQ_QNA_NO.NEXTVAL, 
		#{perfumeNo}, #{qnaType}, #{qnaSubject}, #{qnaContents} ,DEFAULT, #{memberNo}, 
		#{qFilename}, #{qFilerename}, #{qFilepath}, #{qnaPassword}, #{qQnaNo}) </insert> -->

	<!-- QnA에서만 쓰는게 아니라 상품 디테일에서도 글쓰기 필요 -->
	<insert id="writeQnaBoard">
		INSERT INTO QNA_TBL VALUES (
		SEQ_QNA_NO.NEXTVAL,
		<if test="#{perfumeNo} != null">
			#{perfumeNo},
		</if>
		#{qnaType},
		#{qnaSubject},
		#{qnaContents},
		DEFAULT,
		#{memberNo},
		#{qFilename},
		#{qFilerename},
		#{qFilepath},
		#{qnaPassword},
		#{qQnaNo})
	</insert>


	<!-- 문의 게시판 Detail 수정 -->
	<update id="updateqnaBoard">
		UPDATE QNA_TBL SET QNA_TYPE = #{qnaType}, QNA_SUBJECT
		= #{qnaSubject}, QNA_CONTENTS = #{qnaContents}, QNA_DATE = DEFAULT
		,
		Q_FILENAME = #{qFilename}, Q_FILERENAME = #{qFilerename}, Q_FILEPATH =
		#{qFilepath}, QNA_PASSWORD = #{qnaPassword}
		WHERE QNA_NO = #{qnaNo}
	</update>

	<!-- 문의 게시판 삭제 -->
	<delete id="deleteQnaBoard" parameterType="_int">
		DELETE FROM QNA_TBL
		WHERE QNA_NO = #{qnaNo}
	</delete>
	<!-- 문의 게시판 목록 조회 -->
	<select id="selectAllQnaBoard" resultMap="qnaBoardResultMap">
		SELECT Q.*,
		M.MEMBER_NICKNAME, R.REPLY_STATUS
		FROM QNA_TBL Q
		LEFT OUTER JOIN
		MEMBER_TBL M
		ON Q.MEMBER_NO = M.MEMBER_NO
		LEFT OUTER JOIN Q_REPLY_TBL R
		ON Q.QNA_NO = R.REP_QNA_NO
		ORDER BY Q.QNA_DATE DESC
	</select>

	<!-- 문의 게시판 목록 비밀글 비교 -->
	<select id="samepwd" resultType="_int">
		SELECT QNA_PASSWORD FROM QNA_TBL
		WHERE QNA_NO = #{qnaNo}
	</select>

	<!-- 문의 게시판 상세정보 -->
	<select id="QnaBoardDetail" resultMap="qnaBoardResultMap">
		SELECT Q.*,
		M.MEMBER_NICKNAME, R.REPLY_STATUS
		FROM QNA_TBL Q
		LEFT OUTER JOIN
		MEMBER_TBL M
		ON Q.MEMBER_NO = M.MEMBER_NO
		LEFT OUTER JOIN Q_REPLY_TBL R
		ON Q.QNA_NO = R.REP_QNA_NO
		WHERE Q.QNA_NO = #{qnaNo}
	</select>

	<select id="getqnaBoardCount" resultType="_int">
		SELECT COUNT(*) FROM
		QNA_TBL
	</select>

	<!-- 댓글 입력 -->
	<insert id="insertReply">
		INSERT INTO Q_REPLY_TBL VALUES(SEQ_REPLY_NO.NEXTVAL,
		#{repQnaNo}, #{memberNo}, #{memberNickname}
		, #{replyContents}, DEFAULT
		, DEFAULT)
	</insert>

	<!-- 댓글 상태 업데이트 -->
	<update id="updateReplyStatus">
		UPDATE Q_REPLY_TBL SET REPLY_STATUS = #{replyStatus}
		WHERE REP_QNA_NO =
		#{repQnaNo}
	</update>

	<!-- 댓글 목록 -->
	<select id="selectAllReply" resultMap="replyResultMap">
		SELECT * FROM Q_REPLY_TBL
		WHERE REP_QNA_NO = #{repQnaNo}
	</select>

	<!-- 댓글 수정 -->
	<update id="updateReply">
		UPDATE Q_REPLY_TBL
		SET REPLY_CONTENTS =
		#{replyContents}
		WHERE REPLY_NO = #{replyNo}
	</update>

	<!-- 댓글 삭제 -->
	<delete id="deleteReply">
		DELETE FROM Q_REPLY_TBL WHERE REPLY_NO = #{replyNo}
	</delete>

	<!-- 상품 디테일로 보내기 -->
	<select id="selectAllQnaBoardPerfume"
		resultMap="qnaBoardResultMap">
		SELECT Q.*, R.REPLY_CONTENTS, R.REP_CREATE_DATE,
		M.MEMBER_NICKNAME
		FROM
		QNA_TBL Q
		LEFT OUTER JOIN Q_REPLY_TBL R ON
		Q.QNA_NO = R.REP_QNA_NO
		LEFT
		OUTER JOIN MEMBER_TBL M ON Q.MEMBER_NO =
		M.MEMBER_NO
		WHERE Q.PERFUME_NO
		= #{perfumeNO}
		ORDER BY Q.QNA_DATE DESC
	</select>

	<!-- 상품 디테일에 보여질 문의수 -->
	<select id="selectAllQnaBoardPerfumeCnt" resultType="int">
		SELECT
		COUNT(*)
		FROM QNA_TBL Q
		LEFT OUTER JOIN Q_REPLY_TBL R ON Q.QNA_NO =
		R.REP_QNA_NO
		LEFT OUTER JOIN MEMBER_TBL M ON Q.MEMBER_NO = M.MEMBER_NO
		WHERE Q.PERFUME_NO = #{perfumeNO}
	</select>

</mapper>