<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaBoardMapper">
   <resultMap type="QnaBoard" id="qnaBoardResultMap">
      <id property="qnaNo" column="QNA_NO"></id>
      <result property="perfumeNo" column="PERFUME_NO" />
      <result property="qnaType" column="QNA_TYPE" />
      <result property="qnaSubject" column="QNA_SUBJECT" />
      <result property="qnaContents" column="QNA_CONTENTS"
         jdbcType="CLOB" javaType="java.lang.String" />
      <result property="qnaDate" column="QNA_DATE" />
      <result property="memberNo" column="MEMBER_NO" />
      <result property="qFilename" column="Q_FILENAME" />
      <result property="qFilerename" column="Q_FILERENAME" />
      <result property="qFilepath" column="Q_FILEPATH" />
      <result property="qnaPassword" column="QNA_PASSWORD" />
      <result property="qQnaNo" column="Q_QNA_NO" />
      <result property="memberNickname" column="MEMBER_NICKNAME" />
   </resultMap>


   <!-- 문의 게시판 글쓰기 -->
   <insert id="writeQnaBoard">
      INSERT INTO QNA_TBL VALUES(SEQ_QNA_NO.NEXTVAL, #{perfumeNo}, #{qnaType}, #{qnaSubject}, #{qnaContents}
      ,DEFAULT, #{memberNo}, #{qFilename}, #{qFilerename}, #{qFilepath}, #{qnaPassword}, #{qQnaNo})
   </insert>
   
   <!-- 문의 게시판 Detail 수정 -->
   <update id="selectOneByNo">
      UPDATE QNA_TBL SET QNA_TYPE = #{qnaType}, QNA_SUBJECT = #{qnaSubject}, QNA_CONTENTS = #{qnaContents}, QNA_DATE = #{qnaDate}, 
   </update>

   <!-- 문의 게시판 목록 조회 -->
   <select id="selectAllQnaBoard" resultMap="qnaBoardResultMap">
     SELECT Q.*, M.MEMBER_NICKNAME
      FROM QNA_TBL Q
      LEFT OUTER JOIN MEMBER_TBL M
      ON Q.MEMBER_NO = M.MEMBER_NO
      ORDER BY Q.QNA_DATE DESC
   </select>
   
   <!-- 문의 게시판 상세정보 -->
   <select id="QnaBoardDetail" resultMap="qnaBoardResultMap">
     SELECT Q.*, M.MEMBER_NICKNAME
      FROM QNA_TBL Q
      LEFT OUTER JOIN MEMBER_TBL M
      ON Q.MEMBER_NO = M.MEMBER_NO
      WHERE Q.QNA_NO = #{qnaNo}
   </select>











</mapper>