<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wishMapper">
	<resultMap type="Wish" id="wishResultMap">
		<id property="wishNo" column="WISH_NO"></id>
		<result property="wishDate" column="WISH_DATE" />
		<result property="cartNo" column="CART_NO" />
		<result property="cartQuantity" column="CART_QUANTITY" />
		<result property="cartDate" column="CART_DATE" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="perfumeNo" column="PERFUME_NO" />
		<result property="perfumeName" column="PERFUME_NAME" />
		<result property="perfumeBrand" column="PERFUME_BRAND" />
		<result property="perfumeVolume" column="PERFUME_VOLUME" />
		<result property="perfumePrice" column="PERFUME_PRICE" />
		<result property="perfumeQuantity" column="PERFUME_QUANTITY" />
		<result property="pScentCategory" column="P_SCENT_CATEGORY" />
		<result property="pImageCategory" column="P_IMAGE_CATEGORY" />
		<result property="pFilename" column="P_FILENAME" />
		<result property="pFilerename" column="P_FILERENAME" />
		<result property="pFilepath" column="P_FILEPATH" />
		<result property="perfumeDate" column="PERFUME_DATE" />
		<result property="perfumeStatus" column="PERFUME_STATUS" />
		<result property="wishCount" column="WISH_COUNT" />
		<result property="cartCount" column="CART_COUNT" />
	</resultMap>

	<insert id="addWish">
		INSERT INTO WISH_TBL
		VALUES(SEQ_WISHNO.NEXTVAL,
		DEFAULT, #{memberId}, #{perfumeNo})
	</insert>

	<delete id="removeWish">
		DELETE FROM WISH_TBL
		WHERE WISH_NO = #{wishNo}
	</delete>

	<select id="selectWishList" resultMap="wishResultMap">
		SELECT P.*, W.WISH_NO,
		W.WISH_DATE, W.MEMBER_ID, C.CART_NO, C.CART_QUANTITY, C.CART_DATE
		FROM
		PERFUME_TBL P
		LEFT OUTER JOIN WISH_TBL W ON P.PERFUME_NO = W.PERFUME_NO
		LEFT OUTER JOIN CART_TBL C ON P.PERFUME_NO = C.PERFUME_NO
		WHERE
		W.MEMBER_ID = #{memberId}
		AND P.PERFUME_STATUS = '1' 
		ORDER BY W.WISH_DATE DESC
	</select>

	<select id="selectPerfumeListLogin" resultMap="wishResultMap">
		SELECT P.*,
		W.WISH_NO, W.WISH_DATE, W.MEMBER_ID, C.CART_NO, C.CART_QUANTITY,
		C.CART_DATE
		FROM PERFUME_TBL P
		LEFT OUTER JOIN WISH_TBL W ON
		P.PERFUME_NO = W.PERFUME_NO AND W.MEMBER_ID
		= #{memberId}
		LEFT OUTER
		JOIN CART_TBL C ON P.PERFUME_NO = C.PERFUME_NO AND C.MEMBER_ID
		=
		#{memberId}
		WHERE P.PERFUME_STATUS = '1'
	</select>

	<select id="selectPerfumeList" resultMap="wishResultMap">
		SELECT
		P.*,
		(
		SELECT COUNT(*)
		FROM WISH_TBL W
		WHERE W.PERFUME_NO = P.PERFUME_NO
		) AS WISH_COUNT,
		(
		SELECT COUNT(*)
		FROM CART_TBL C
		WHERE C.PERFUME_NO = P.PERFUME_NO
		) AS CART_COUNT
		FROM
		PERFUME_TBL P
		WHERE P.PERFUME_STATUS = '1'
	</select>

</mapper>