<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 만약에 null로 데이터가 전달되었으면 빈칸이 아닌 "NULL"로 인식하도록 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.perfumePalette.member.Member" alias="Member" />
		<typeAlias type="com.kh.perfumePalette.perfume.Perfume" alias="Perfume" />
		<typeAlias type="com.kh.perfumePalette.admin.aperfume.AdPerfume" alias="AdPerfume" />
		<typeAlias type="com.kh.perfumePalette.qnaBoard.QnaBoard" alias="QnaBoard"/>
		<typeAlias type="com.kh.perfumePalette.qnaBoard.QnaReply" alias="QnaReply" />
		<typeAlias type="com.kh.perfumePalette.wish.Wish" alias="Wish" />
		<typeAlias type="com.kh.perfumePalette.cart.Cart" alias="Cart" />
		<typeAlias type="com.kh.perfumePalette.review.Review" alias="Review"/>
		<typeAlias type="com.kh.perfumePalette.chatting.Room" alias="Room"/>
		<typeAlias type="com.kh.perfumePalette.chatting.Chat" alias="Chat"/>
		<typeAlias type="com.kh.perfumePalette.order.domain.Order" alias="Order"/>
		<typeAlias type="com.kh.perfumePalette.order.domain.OrderDetail" alias="OrderDetail"/>
		<typeAlias type="com.kh.perfumePalette.order.domain.OrderPayment" alias="OrderPayment"/>
		<typeAlias type="com.kh.perfumePalette.like.Like" alias="Like"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/perfume-mapper.xml" />
		<mapper resource ="mappers/qnaBoard-mapper.xml"/>
		<mapper resource="mappers/wish-mapper.xml" />
		<mapper resource="mappers/cart-mapper.xml" />
		<mapper resource ="mappers/review-mapper.xml"/>
		<mapper resource ="mappers/room-mapper.xml"/>
		<mapper resource ="mappers/chat-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml" />
		<mapper resource="mappers/order-mapper.xml" />
	</mappers>
</configuration>