<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
table, th, td {
  border: 1px solid black;
}

</style>
<body>
    <table>
        <thead>
            <tr>
                <th colspan="1">주문번호</th>
                <th>주문 일자</th>
                <th>구매자명</th>
                <th>수취인</th>
                <th>브랜드명</th>
                
                <th rowspan="2">주문상품수</th>
                <th rowspan="2">주문 가격</th>
                
                <th rowspan="2">상세</th>
            </tr>
            <tr>
                <th>주문상태</th>
                <th>송장번호</th>
                <th>구매자 번호</th>
                <th>수취인 번호</th>
                <th>상품명</th>

            </tr>
        </thead>
        <tbody>
        
        </tbody>
        <tfoot>
        
        </tfoot>
    </table>
</body>
</html>