@font-face {
	font-family: '마포꽃섬';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff')
		format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'ghana';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: '마포꽃섬';
}

body {
	overflow-x: hidden;
}

main {
	width: 100vw;
	min-height: 100vh;
	margin-bottom: 100px;
}

main>div[id=forHeader] {
	/* 헤더 공간 비워두기 위함  */
	height: 190px;
	/*
        헤더와 본인이 만든 본문 내용 사이의 간격 (헤더 아래로 여백) :
        margin-bottom값을 임의로 조절해서 쓰시면 됩니다.
    */
	margin-bottom: 100px;
}

main>div[id=forCenter] {
	/* 본문 내용 가운데 정렬 위함 */
	display: flex;
	flex-direction: column;
	align-items: center;
}

main img {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

main table, td, th, tr {
	border: 1px solid black;
	padding: 10px;
	border-collapse: collapse;
	text-align: center;
}

main td td {
	border: none;
	padding: 0;
}

main button {
	height: 50px;
	width: 100px;
	background-color: #222222;
	color: white;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	font-size: 20px;
}

main input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

main .cnt {
	border: none;
	text-align: end;
}

main table {
	width: 85%;
	border: none;
	/* 강제로 테이블 레이아웃 고정 */
	/* 개별 설정 필요 X */
	table-layout: fixed;
}

main th {
	background-color: #28302d;
	color: white;
	vertical-align: middle;
}

main th, td, tr {
	border: none;
}

main tr:not(:first-child, :last-child) {
	border: 1px dotted black;
	border-left: none;
	border-right: none;
}

main tbody tr:last-child {
	border: 1px dotted black;
	border-bottom: 1px solid black;
	border-left: none;
	border-right: none;
}

main tr:first-child {
	border: none;
}

main input[type=number] {
	font-size: 16px;
	vertical-align: middle;
}

main .fas {
	margin: 0 5px;
	vertical-align: middle;
	color: #28302d;
	font-size: 20px;
	cursor: pointer;
}

main .fas:last-child {
	margin-left: 0px;
	margin-right: 5px;
}

main #btnBox {
	display: flex;
	justify-content: flex-end;
	width: 85%;
	margin: 15px 0;
}

main #del {
	margin-right: 10px;
}

main #totalBox {
	width: 85%;
	text-align: right;
}

main #totalBox p:nth-child(1) {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 7.5px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

main #totalBox p:nth-child(2) {
	font-size: 30px;
	font-weight: bold;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

main input[type='checkbox'] {
	width: 1.25rem;
	height: 1.25rem;
	/* border-radius: 50%; */
	border: 1px solid #999;
	appearance: none; /* 꼭 필요함 */
	cursor: pointer;
	vertical-align: middle;
}

main input[type="checkbox"]:checked {
	background: url("../../resources/img/cart/check.png") no-repeat;
	background-size: contain;
}

main #allCheck:checked {
	background: url("../../resources/img/cart/whiteCheck.png") no-repeat;
	background-size: contain;
}

main div[id*="reload"] img {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

main button {
	cursor: pointer;
}

main tr td {
	transition: transform 0.2s ease-in-out;
}

main tr:hover td {
	transform: translate(2.5px, 2.5px);
}

main tr td {
	transition-delay: 0.2s;
	transform: translate
}