@charset "UTF-8";
@font-face {
    font-family: '마포꽃섬';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    --font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ghana';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: '마포꽃섬';
}
body {
    overflow-x: hidden;
}
main {
    width: 100vw;
    min-height: 100vh;

    /* 본문과 푸터 사이 여백 */
    margin-bottom: 100px;
}
main>div[id=forHeader] {

    /* 헤더 공간 비워두기 위함  */
    height: 170px;

    /* 
        헤더와 본인이 만든 본문 내용 사이의 간격 (헤더 아래로 여백) :
        margin-bottom값을 임의로 조절해서 쓰시면 됩니다.
    */
    margin-bottom: 100px;

}
main>div[id=forCenter] {

    /* 본문 내용 가운데 정렬 위함 */
    display: flex;
    flex-direction: column;
    align-items: center;

}



/* 여기부터 공통XX */
main #subject {
    /* 𝑷𝒆𝒓𝒇𝒖𝒎𝒆 𝑷𝒂𝒍𝒆𝒕𝒕𝒆 */
    color: #222;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    font-style: italic;
}

main #main-content {
    /* background-color: red; */

    /* 향수 표 등 메인 내용 가운데 정렬 위함 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .perfumeImg {

    /* 향수 이미지 */
    width: 150px;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

}

main #addWish {
    /* 향수 이미지 hover 시 나올 찜 */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
}

main .wishImg {
    /* 찜 이미지 */
    background-image: url(../img/common/wish-0.png);
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
}
main .perfumeImg:hover #addWish {
    transition-duration: 0.3s;
    opacity: 1;
}



main #pList {

    /* 향수테이블 */
    border-collapse: collapse;

}
main #pList td {

    /* 테이블 border */
    /* border: 1px solid #222222; */

    /* 한 칸 당 크기 */
    width: 220px;
    height: 350px;

}



main #pList td>div {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main #pList td>div>div {
    /* 향수 디테일, 비교함 추가 버튼 커서*/
    /* background-color: blue; */
    cursor: pointer;
}
main .review-stars {
    /* width: 100%; */
    display: flex;
    justify-content: left;
}

main .review-stars img, main .wish-cnt-area img {

    /* 별점 아이콘, 위시 개수 하트 아이콘 크기 */
    width: 15px;
	height: 15px;
	object-fit: cover;

    /* 우측 여백 */
    margin-right: 3px;
}

main .wish-cnt-area {

    /* 위시 하트, 개수 세로기준 가운데정렬 위함 */
    display: flex;
    align-items: center;

}

main .pCompareBtn {
    /* 비교함 버튼  - 비교함 관련 요소지만 table에 노출되니까 */

    /* txt관련 */
    color: #222222;
    /* color: white; */
    font-weight: lighter;

    /* 버튼 색상 및 크기 */
    /* background-color: #222222; */
    border: 1px solid #222222;
    width: 80px;
    height: 30px;
    border-radius: 5px;

    /* 버튼 위치 */
    margin-top: 10px;

    /* 버튼 내부 요소 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}



main #scent-category-box {

    /* 향 카테고리 공간 크기 */
    width: 100%;
    height: 100px;
    /* background-color: lightblue; */

    /* 상품 리스트 테이블과 여백 */
    margin-bottom: 30px;

    
}
main #scent-area {

    /* 향 카테고리 - 필터 요소인데 #scent-category-box에 띄우기 위함 */
    /* #filter-area 위치 조절하면 얘도 위치 바뀜ㅋ */
    position: absolute;
	top: 100px;

    left: 50vw;
    transform: translateX(-54%);
    /* background-color: red; */

    /* all, citrus 아래 줄 */
    border-bottom: 1px dashed grey;

    /* 글자랑 줄 사이 여백 */
    padding-bottom: 10px;

    /* transform: translateY(-50%); */
    /* background-color: red; */

    /* all, citrus 등의 요소들 가로정렬 */
    display: flex;
}

main .scent-category {

    /* all, citrus 등 txt */
    cursor: pointer;
    font-size: 15pt;
    /* 색은 자스 pScentText()에서 바꿔야됨 */
    color: #d3d3d3;
    
    /* 영역 크기 */
    /* background-color: rgb(132, 255, 0); */
    width: 80px;
    height: 30px;

    /* 서로 간 여백 */
    margin-inline: 10px;

    /* 내부 요소 - txt 가운데 정렬 위함 */
    display: flex;
    justify-content: center;
    align-items: center;
}



























/* 필터 관련 요소 시작! */
main #filter-area {

    /* 필터 위치 */
    position: absolute;
    top: 300px; /* 목록이 시작되는 위치로 수정 예정 */
    left: 30px;
}
main #real-filter-area {

    /* 필터 찐 위치 */
    position: fixed;
    top: 400px; /* 목록이 시작되는 위치로 수정 예정 */
    left: 5vw;

    /* 필터링 공간 크기 및 디자인 */
    width: 200px;
    /* height: 300px; */
    border: 1px dashed #222222;
    border-radius: 10px;
    background-color: white;
    /* box-shadow: 5px 5px 10px #2222225d; */
    
    font-size: 15pt;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
main #real-filter-area>div {

    width: 80%;
    padding-block: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-bottom: 1px dashed lightgrey;
}
main #real-filter-area>div:nth-child(3) {
    border-bottom: 0;
}

/* 정렬 selectbox 관련 */
main select::-ms-expand{
    display:none;/*for IE10,11*/
}
main select {
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;

    background-image: url(../img/common/Arrow.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 15px auto;
    
    /* width: 150px; */
    height: 35px;
    border: 1px solid #222222;
    border-radius: 5px;
    font-size: 15pt;

    padding-left: 10px;
}





/* 가격 슬라이더 시작*/

main #slider-range {
    /* 슬라이더 위아래로 여백 */
    margin-block: 10px;
}
main .ui-slider {
    /* 슬라이더 배경색 변경 */
    background-color: #eee;
}

main .ui-slider-handle {
    /* 슬라이더 바 - 핸들 색상 변경 */
    
    background-color: rgb(255, 0, 0); /* 이거 안 먹는듯? */
    border: none; /* 테두리 제거 */
    width: 15px !important; /* 너비 변경 */
    height: 15px !important; /* 높이 변경 */
    border-radius: 100%;
} main .ui-slider-handle:active {
    /* 핸들 클릭했을 때 색상 */
    background-color: rgb(200, 200, 200);
}

main .ui-slider-range {
    /* 슬라이더 선택 영역 색상 변경 */
    background-color: #222;
}

main .ui-slider-horizontal {
    width: 150px; /* 슬라이더 길이 변경 */
    height: 5px;
}

main #slider-values {

    /* 금액 범위 txt */
    font-size: 12pt;
    font-weight: lighter;
    color: grey;
}
/* 가격 슬라이더 끝 */


/* 검색 관련 */
main #search-area {

}
main #search-area img {
    width: 15px;
	height: 15px;
	object-fit: cover;
}
main #search-area input {
    height: 30px;
    border: 1px solid #222222;
    border-radius: 5px;
    font-size: 15pt;

    padding-left: 10px;
}

/* 필터 관련 요소 끝! */




















/* 비교함 관련 요소 시작! */



/* 비교함 시작 */
main #compare-area {

    /* 비교함 위치 */
    position: fixed;
    top: 695px;
    left: 5vw;

    /* 비교함 크기 및 디자인 */
    width: 200px;
    height: 70px;
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 10px;
    
    /* 비교함 내부 요소 가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    color: white;
    font-size: 15pt;

}

/* 비교함 모달 시작 */
main #compare-modal-bg {

    /* 모달창 배경 위치, 크기 및 블러*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(2px);

	display: none;
}
main #compare-modal {
    
    /* 모달창 위치 */
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;

    /* 모달창 크기 */
    height: 500px;
	width: 800px;

    /* 모달창 디자인 */
	--border-radius: 20px;
	background-color: white;
    color: black;

	display: none;


}

main #compare-modal-close-btn {
    
    /* 모달 닫기 x버튼 위치 */
    position: absolute;
    right: 0;
    top: 0;

    /* 닫기 버튼 크기 및 색상 */
    width: 40px;
    height: 40px;
    background-color: #222222;

    /*  X 크기 및 위치*/
    font-size: 30pt;
    text-align: center;
    vertical-align: middle;
    line-height: 1;

    /* 모달 닫기 버튼 색상 */
    color: white;

    /* 커서 */
    cursor: pointer;

}


main #compare-real {

    /* 비교함 타이틀 및 테이블 가운데 정렬 */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
main #compare-real-title {
    --background-color: red;

    /* 비교함 타이틀(테이블도 똑같이) 너비 */
    width: 90%;

    /* 향수 비교하기 타이틀 공간 높이 */
    height: 60px;

    /* 향수 비교하기 타이틀 txt 속성 */
    font-size: 18pt;

    /* 향수비교하기 수직 가운데 정렬 */
    display: flex;
    align-items: center;

}

main #compare-real-title>span {
    /* 비교는 최대 3개까지 가능합니다 부분 */
    font-size: 70%;
    color: rgba(0, 0, 0, 0.5);

    margin-left: 10px;

}

main #compare-real-info {
    --background-color: blue;

    /* 비교함의 table 가운데 정렬 위함 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 비교함 테이블(타이틀도 똑같이) 너비 */
    width: 90%;

    /* 테이블 높이 = 모달창 높이 500px - 타이틀 높이 40px */
    /* height: 460px; */
    /* 테이블 높이 걍 신경 쓰지 말고 스크롤 넣자 */
    /* 여기에 height값 주고 table태그에 heigth: 100% 줘야 적용됨 */
    --height: 600px;
    --background-color: green;
    
}

main #compare-real-info>table {
    /* border: 1px solid black; */
    border-block: 1px solid #222;
    border-collapse: collapse;

    width: 100%;
    height: 400px

}
main #compare-real-info>table th
, main #compare-real-info>table td {
    /* border: 1px solid black; */
    border-block: 1px dashed lightgrey;
    width: 28%;

    text-align: center;
}

main #compare-real-info>table th:nth-child(1) {
    width: 16%;
}
main #compare-detailBtn td {
    
}
main .modal-detail-btn {

    /* 상세보기 버튼 */
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #222;

    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}
/* 비교함 관련 요소 끝! */












/* 페이징 CSS */
main #paging {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

main #paging a,
main #paging span {

    display: inline-block;
    /* padding: 8px 16px; */
    width: 30px;
    height: 30px;

    color: #222;
    background-color: #fff;
    border: 1px solid #ddd;

    text-align: center;
    text-decoration: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

main #paging a:hover {
    background-color: #ddd;
}

main #paging .current {
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border-color: #333;
    cursor: default;
}