@font-face {
    font-family: '마포꽃섬';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    --font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ghana';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
   font-family: '마포꽃섬';
}
body {
    overflow-x: hidden;
}
main {
    width: 100vw;
    min-height: 100vh;
}
main>div[id=forHeader] {

    /* 헤더 공간 비워두기 위함  */
    height: 190px;

    /* 
        헤더와 본인이 만든 본문 내용 사이의 간격 (헤더 아래로 여백) :
        margin-bottom값을 임의로 조절해서 쓰시면 됩니다.
    */
    margin-bottom: 100px;

}
main>div[id=forCenter] {

   /* 본문 내용 가운데 정렬 위함 */
   display: flex;
   flex-direction: column;
   align-items: center;

}

main .container {
    margin: 0 auto;
    /* background-color: aqua; */
}

main .submit-btn {
	display: flex;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
main input[type=submit], input[type=reset]{
    width: 100px;
    height: 40px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-right: 50px;
    margin-left: 50px;
}

main input[type=file]::file-selector-button {
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

input[type=file]::file-span {
    color: aqua;
}


.select {
    width: 200px;
    appearance: none;
    /* background: url(../../../resources/img/common/Arrow.png) no-repeat right 3px center; */
    border-radius: 5px;
    border: 1px solid gray;
    height: 20px;
}

input.radius {
    border-radius: 5px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.title {
    height: 20px;
    width: 500px;
    margin-left: 44px;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
}

form span[aria-hidden="true"] {
    margin-left: 30px;
}