@font-face {
    font-family: '마포꽃섬';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    --font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ghana';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
   font-family: '마포꽃섬';
}
body {
    overflow-x: hidden;
}

h1 {
 margin-bottom : 40px;	
 text-align: center;
}

main {
    width: 100vw;
    min-height: 100vh;
}
main>div[id=forHeader] {

    /* 헤더 공간 비워두기 위함  */
    height: 190px;

    /* 
        헤더와 본인이 만든 본문 내용 사이의 간격 (헤더 아래로 여백) :
        margin-bottom값을 임의로 조절해서 쓰시면 됩니다.
    */
    margin-bottom: 100px;

}
main>div[id=forCenter] {

   /* 본문 내용 가운데 정렬 위함 */
   display: flex;
   flex-direction: column;
   align-items: center;

}

.container {
    margin: 0 auto;
    /* background-color: aqua; */
}

main .submit-btn {
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 7px 25px;
    margin-left: 382px;
    margin: 20px auto 20px auto;
    display: flex;
	justify-content: center;
    text-align: center;
}

main input[type=file]::file-selector-button {
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

main input[type=file]::file-span {
    color: aqua;
}

main .select {
    width: 200px;
    appearance: none;
    background: url(../../../resources/img/common/Arrow.png) no-repeat right 3px center;
    border-radius: 5px;
    height: 20px;
}

main input.radius {
    border-radius: 5px;
    border: 1px solid gray;
    box-sizing: border-box;
    margin-left: 10px;
    padding: 3px;
}

main .title {
    height: 20px;
    width: 540px;
    margin-bottom: 20px;
}

main input:focus {
    outline: none;
}

main form span[aria-hidden="true"] {
    margin-left: 30px;
} 

#hiddendiv {
    display: inline;
}

.password-label {
    float: left;
    margin-top: 3px;
}

main #footer {
	display: flex;
	flex-direction: row;
	height: 50px;
	width: 100%;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 50px;
}

main #footer #left {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main #footer #left div {
	height: 50%;
	width: 100%;
}

main #footer #right{
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: end;
	flex-direction: column;
}

main #right button {
	height: 50px;
	width: 125px;
	background-color: #222222;
	color: white;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	font-size: 20px;
}

main #perfumeInfo {
	height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main #perfumeInfo #imgBox {
	height: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

main #perfumeInfo #imgBox img {
	height: 225px;
	width: 225px;
}

main #perfumeInfo #infoBox {
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#summernote img {
	max-width: 100%;
}
